@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", Arial, sans-serif;
  background-color: rgb(236, 236, 236);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  list-style-type: none;
  margin: 10px 0px;
  overflow: hidden;
}

a {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 60px;
  font-weight: 900;
  text-decoration: none;
  color: transparent;
}

a:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  color: #262626;
  box-sizing: border-box;
  transition: 0.5s;
  transition-delay: 0.25s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

a:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  color: #262626;
  box-sizing: border-box;
  transition: 0.5s;
  transition-delay: 0.25s;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

a:hover:before {
  color: rgb(160, 0, 0);
  transform: translate(10px, -3px);
}

a:hover:after {
  color: rgb(160, 0, 0);
  transform: translate(-10px, 3px);
}

li:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #262626;
  left: -100%;
  transition: 0.5s;
}

li:hover:before {
  left: 100%;
}
