body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #351435;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid #351435;
  padding: 40px 80px;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #351435;
  z-index: -1;
  /* transform: translateX(-100%); */
  /* transform: translateX(100%); */
  /* transform: translateY(-100%); */
  /* transform: translateY(100%); */
  transform: translate(-100%, -100%);
  transition: all 1s;
}

a:hover {
  color: #fff;
}

a:hover:before {
  transform: translateX(0);
}
