body {
  margin: 0;
}

div {
  width: 150px;
  height: 150px;
  background-color: red;
  animation-name: moving;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 3;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-delay: 1s;
  /* duration time first, delay time later */
  animation: moving 3s both 3 ease-in alternate 1s;
}

@keyframes moving {
  0% {
    transform: translateX(500px);
  }

  50% {
    transform: translateX(1000px);
  }

  100% {
    transform: translate(1000px, 500px);
  }
}
