@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", Arial, sans-serif;
}

body {
  background-color: #2f2f2f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
