body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: black;
}

.content {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  text-transform: capitalize;
}

p {
  margin-bottom: 30px;
  text-transform: capitalize;
}

a {
  display: inline-block;
  padding: 10px 10px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  text-transform: capitalize;
}

a:hover {
  color: black;
  background-color: white;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

img:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
  /* clip-path: polygon(100% 100%, 100% 0, 100% 100%, 0 100%); */
}
