body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
}

.ring {
  width: 100%;
  height: 100%;
  border-left: 5px solid #262626;
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
