/* <a href="https://www.freepik.com/free-vector/city-at-night-and-day-illustration_829621.htm">Designed by Freepik</a> */

/* https://www.freepik.com/free-vector/city-at-night-and-day-illustration_829621.htm */

body {
  margin: 0;
  padding: 0;
}

.background {
  height: 100vh;
  background: url(bg.jpg);
  background-position: bottom left;
  animation: driving 15s linear infinite;
}

.car {
  position: absolute;
  left: 300px;
  bottom: -50px;
  width: 200px;
}

.motobike {
  position: absolute;
  left: 700px;
  bottom: 55px;
  width: 150px;
}

@keyframes driving {
  from {
    background-position: bottom left;
  }
  to {
    background-position: bottom right;
  }
}
