body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  transition: all 0.5s;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0);
}

.caption h1 {
  text-transform: uppercase;
  margin: 0;
}

.caption p {
  font-size: 18px;
  text-transform: capitalize;
}

.container:hover .caption {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.container:hover img {
  transform: scale(1.3) rotate(15deg);
}
