body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2c3a47;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
  position: relative;
}

h1:before {
  content: "loading..";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #f6b93b;
  overflow: hidden;
  border-right: 4px solid #f6b93b;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
