@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', arial, sans-serif;
}

.card {
  position: relative;
  width: 300px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  padding: 20px 40px;
}

.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-60px);
  z-index: 1;
}

img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  height: 420px;
}

.content {
  padding: 10px 20px;
  text-align: center;
  color: #111;
  transition: all 0.3s;
  transform: translateY(-500px);
  opacity: 0;
}

.card:hover .content {
  opacity: 1;
  transform: translateY(-190px);
}
