body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #006266;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style: none;
  margin: 0px 20px;
  transition: 0.5s;
}

a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  transition: all 0.3s;
}

ul:hover a {
  filter: blur(3px);
  opacity: 0.4;
}

ul a:hover {
  transform: scale(1.5);
  filter: blur(0);
  opacity: 1;
}

a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ee5a24;
  border-radius: 10px;
  transition: 0.3s;
  transform: scale(0);
  z-index: -1;
}

a:hover:before {
  transform: scale(1);
}
