body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #fffa65;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 22px;
  display: block;
  padding: 10px 15px;
  position: relative;
}

ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3d3d3d;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s;
}

ul li a:hover:before,
ul li a:hover:after {
  transform: scaleX(1);
}

ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3d3d3d;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.4s;
}
