body {
  margin: 0;
}

div {
  width: 150px;
  height: 150px;
  background-color: red;
  animation-name: moving;
  animation-duration: 5s;
  animation-fill-mode: both;
  /* animation-iteration-count: 3; */
  /* animation-iteration-count: infinite; */
  animation-iteration-count: 1;
  animation-timing-function: steps(4, end);
  /* Keyword values */
  /* animation-timing-function: ease;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;
  animation-timing-function: step-start;
  animation-timing-function: step-end; */

  /* Function values */
  /* animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  animation-timing-function: steps(4, end); */

  /* Steps Function keywords */
  /* animation-timing-function: steps(4, jump-start);
  animation-timing-function: steps(10, jump-end);
  animation-timing-function: steps(20, jump-none);
  animation-timing-function: steps(5, jump-both);
  animation-timing-function: steps(6, start);
  animation-timing-function: steps(8, end); */

  /* Multiple animations */
  /* animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1, 0.1); */

  /* Global values */
  /* animation-timing-function: inherit;
  animation-timing-function: initial;
  animation-timing-function: revert;
  animation-timing-function: unset; */
}

@keyframes moving {
  0% {
    transform: translateX(500px);
  }

  50% {
    transform: translateX(1000px);
  }

  100% {
    transform: translate(1000px, 500px);
  }
}
