body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ul li a {
  color: #272727;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0px 10px;
  position: relative;
  transition: all 0.5s;
}

a:hover {
  background-color: #e91e63;
  color: white;
}

a:before {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #e91e63;
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.3s;
}

a:hover:before {
  bottom: -12px;
  left: -12px;
  opacity: 1;
}

a:after {
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #e91e63;
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.3s;
}

a:hover:after {
  top: -12px;
  right: -12px;
  opacity: 1;
}
