@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap');

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', arial, sans-serif;
}

.card {
  position: relative;
  width: 320px;
  padding: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: calc(-100% + 5px);
  width: 100%;
  height: 100%;
  background-color: #ff56ac;
  z-index: 1;
  transition: all 0.5s;
}

.card:hover:before {
  bottom: 0;
}

.content {
  position: relative;
  text-transform: capitalize;
  color: #777;
  z-index: 2;
  transition: all 0.5s;
}

h2 {
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 30px;
}

p {
  font-size: 18px;
}

a {
  margin-top: 10px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  color: #777;
  padding: 6px 10px;
  font-weight: 600;
  background-color: white;
  box-shadow: 0 2px 20 rgba(0, 0, 0, 0.05);
}

.card:hover .content {
  color: white;
}
