.banner {
  height: 100vh;
  background: url(bg.png);
  background-position: 0 0;
  animation: animated-pattern 15s linear infinite;
}

@keyframes animated-pattern {
  from {
    background-position: 0 0;
  }
  to {
    /* background-position: 0 600px; */
    /* background-position: 800px 0; */
    background-position: 800px 600px;
  }
}
