body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  width: 150px;
  height: 60px;
  color: black;
  border: 2px solid black;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  position: relative;
  transition: all 0.2s;
}

a:hover {
  color: white;
}

a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  opacity: 0;
  transition: all 0.8s;
}

a:hover:before {
  opacity: 1;
  transform: rotate(15deg);
}

a span {
  color: transparent;
  position: relative;
}

a span:before {
  content: 'B';
  position: absolute;
  color: black;
  transition: all 0.2s;
}

a:hover span:before {
  color: white;
  font-size: 80px;
  transform: translate(-65%, -10%) rotate(360deg);
}
