* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background-color: #272727;
}

.container {
  width: 450px;
  height: 300px;
  position: relative;
}

img {
  width: 100%;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d3436;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 17px;
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

p {
  font-size: 16px;
  width: 80%;
  align-self: center;
  text-align: center;
}

a {
  text-decoration: none;
  background-color: black;
  color: white;
  width: 100px;
  padding: 15px;
  margin-bottom: 20px;
  align-self: center;
}

/* OUR EFFECT STYLES GOES HERE */
.container:before {
  opacity: 0;
  transition: all 0.3s;
}

.container:hover:before {
  opacity: 1;
}

h2,
p {
  transform: scale(5);
  opacity: 0;
  transition: all 0.3s;
}

.container:hover h2,
.container:hover p {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.2s;
}

a {
  transform: translateY(150px);
  transition: all 0.3s;
}

.container:hover a {
  transform: translateY(0);
  transition-delay: 0.2s;
}

.container {
  overflow: hidden;
}
