body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 2px solid tomato;
  background: none;
  color: tomato;
  padding: 20px 40px;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: tomato;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  height: 0;
  transition: all 0.5s;

  /* From the bottom */
  top: auto;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn:hover {
  color: white;
}

.btn:hover:before {
  height: 190%;
}
