@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #74b9ff;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', arial, sans-serif;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: white;
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face1 {
  padding: 20px;
  text-align: center;
  background-color: white;
  color: #013d4a;
}

.face1 h2 {
  margin-top: 80px;
}

.face1 a {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 10px;
  text-decoration: none;
  color: #013d4a;
  border: 2px solid #013d4a;
  text-transform: capitalize;
  font-weight: bold;
  transition: 0.3s;
}

.face2 {
  background-color: #013d4a;
  transition: 0.5s;
}

.face2 h2 {
  font-size: 120px;
  color: white;
  transition: 0.5s;
}

.card:hover .face2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: 2px solid #013d4a;
}

.card:hover .face2 h2 {
  color: #013d4a;
  font-size: 32px;
}

a:hover {
  background-color: #013d4a;
  color: white;
}
